# backend .env examples
# DATABASE
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=postgres://_USER_:_PASS_@_HOST_:_PORT_/_DB_

# JWT AUTH
JWT_ACCESS_SECRET=...
JWT_REFRESH_SECRET=...
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

