POSTGRES_DB=aml_db
POSTGRES_USER=aml_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
DATABASE_URL=postgresql://aml_user:change_me@postgres:5432/aml_db?schema=public

BACKEND_PORT=3000

JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

LOG_LEVEL=info

DOCKERHUB_BACKEND_REPO=your_dockerhub_username/aml-backend
BACKEND_IMAGE_TAG=latest
